.new-collections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: auto;
  margin-bottom: 100px;
}

.new-collections  h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.new-collections  hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.collections{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap: 30px;
}

@media(max-width:500px){
    .new-collections{
    height: 400vh;
    width: auto;
    margin:10px;
   
  }
 
  .collections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: auto;
    align-items: center;
    gap: 20px;
  }
}
