.loginsignup{
    width: 100%;
    height: 100vh;
    background: #dbcddc;
    padding-top: 100px;
    padding-bottom: 200px;
    
}
.loginsignup-container{
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    
}
.loginsignup-container h1{
    margin: 30px 0;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.loginsignup-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.loginsignup-container button{
    width: 580px;
    height: 72px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 8px;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
@media(max-width:800px){
    .loginsignup-container{
        padding: 20px 30px;
    }
    .loginsignup-container h1{
        font-size: 24px;
    }
    .loginsignup-fields{
        margin-top: 20px;
    }
    .loginsignup-fields input{
        height: 50px;
    }
    .loginsignup-container button{
        height: 50px;
        font-size: 16px;
    }
}
@media(max-width:500px){
    .loginsignup{
        width: 100%;
        height: 70vh;
    
    } 
    .loginsignup-container{
        width: 80%;
        margin: auto;
        height: 70vh;
    }
    .loginsignup-container h1{
        font-size: 18px;
    }
    .loginsignup-fields input{
        height: 30px;
    }
 .loginsignup-fields{
        margin-top: 10px;
    }
      .loginsignup-container button{
        height: 30px;
        font-size: 13px;
        width: 200px;
        margin-left: 30px;
    }
    .loginsignup-container p{
        font-size: 12px;
    }
    .loginsignup-agree input{
        width: 10px;
    }
}