.shop-category{
    display: block;
    margin: 30px auto;
    width: 82%;
}
.omg{
    width: 90%;
    height: auto;
    display: block;
    margin: 30px auto;

}
.ShopCategory-indexsort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 170px;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.ShopCategory-indexsort p span{
    font-weight: 600;
}
.shopcategory-products{
    margin: 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}
.shop-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    border: 1px dotted #787878;
}
@media(max-width:800px){
    .shop-category{
        width: 95%;
    }
    .shopcategory-products{
        width: 95%;
    }
    .shop-loadmore{
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
}
@media(max-width:500px){
    .shopcategory-products{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
      
        /* display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin: auto; */
    }
    .omg{
        width: 100%;
        
    }
    .ShopCategory-indexsort{
        font-size: 12px;
        width: 80%;
        margin: auto;
    }
    
}