.item{
    width: 280px;
    
}
.item img{
    width: 280px;
}
.item p{
    margin: 6px 0;

}
.item-prices{
    display: flex;
    gap: 20px;
}
.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.item-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
.item img{
    width: 20vw;
}
/* @media (max-width:1280px) {
    .item{
        width: 220px;
        font-size: 14px;
    }
    .item img{
        width: 220px;
    }
    .item-price-old{
        font-size: 14px;
    }
} */
@media(max-width:1024px){
    .item{
        width: 140px;
        font-size: 13px;
        display: grid;
        gap: 10px;
        padding: 8px;
    }
    .item img{
        width: 170px;
        gap: 100px;
    }
    .item-price-old{
        font-size: 13px;
    }
    .item p{
       
        font-size: 12px;
    }
   
}
@media(max-width:800px){
     .item{
        width: 120px;
        font-size: 11px;
        display: grid;
        gap: 8px;
        padding: 8px;
    }
    .item img{
        width: 130px;
        gap: 80px;
    }
    .item-price-old{
        font-size: 11px;
    }
    .item p{
       
        font-size: 11px;
    }
}
/* @media(max-width:500px){
       .item{
        width: auto;
        font-size: 12px;
        display: flex;
        
        padding: 6px;
        border:1px dotted black;
        margin: 0;
    }
    .item img{
        width: 140px;
        
    }
    .item-price-old{
        font-size: 9px;
    }
    .item p{
       
        font-size: 13px;
    }
    .main{
        margin: 0;
    }
} */
  /* @media(max-width:500px){
    .item{
        border: 1px solid black;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
  } */