.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    align-items: center;
    width: 100%;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    color: rgb(137, 9, 9);
    font-size: 40px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: rgb(120, 15, 15);
    font-size: 15px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    
}
.nav-menu hr{
    border: none;
    height:3px ;
    width:80% ;
    border-radius:10px ;
    background: #ff4141;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    width: 100px;
    height: 38px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 15px;
    font-weight: 300;
    background: white;
    cursor: pointer;
}
.nav-login-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count{
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}
.nav-cart-count img{
    height: 100px;
    margin: 100px;
}
.nav-dropdown{
    display: none;
}
@media(max-width:1280px){
    .navbar{
        width: auto

    }
    .nav-logo img{
        width: 40px;
    }
    .nav-logo p{
        font-size: 25px;
    }
    .nav-menu{
        gap: 30px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap: 30px;
    }
    .nav-login-cart button{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
}
@media(max-width:1016px){
        .navbar{
       
            width: auto;
    }
    .nav-logo-cart img{
        width: 30px;
    }
   /* .nav-logo p{
        font-size: 25px;
    } */
    .nav-menu{
        gap: 25px;
        font-size: 14px;
    }
    .nav-login-cart{
        gap: 30px;
    }
    .nav-login-cart button{
        width: 80px;
        height: 35px;
        font-size: 14px;
    }
    .nav-cart-count{
        width:18px;
        height: 18px;
    }
}
@media(max-width:800px){
    .navbar{
        padding: 10px 0px;

    }
    .nav-dropdown{
        display: block;
        width: 35px;
        rotate: -90deg;
        transition: 0.5s;
    }
    .nav-menu{
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: white;
        justify-content: center;
        top: 50px;
    }
    .nav-menu-visible{
        display: flex;
        max-width: 800px;
        width: auto;
        margin-bottom: 50px;
        margin-top: 0.5px;
        background: none;
    }
    .nav-dropdown.open{
        transform: rotate(90deg);
    }

}
@media(max-width:500px){
    .navbar{
        margin-bottom: 10px;
        gap: 0;
        width: 100%;
    }
    .nav-logo{
        transform: scale(0.8);
    }
    .na-menu{
        height:70px;
        top: 50px;
    }
    .nav-login-cart{
        transform: scale(0.8);
    }
    
}