.breadcrum{
    
    display: flex;
    align-items: center;
    gap: 2%;
    color: #5e5e5e;
    font-size: 100%;
    font-weight: 600;
    margin: 3% 12%;
    text-transform: capitalize;
}
.breadcrum img{
    height: 1vh;
    background:  #5e5e5e;
    padding: 0.5%;
    border-radius: 10%;
}
/* @media(max-width:1280px){
    .breadcrum{
        margin: 30px 50px;
        font-size: 14px;
    }
} */
@media(max-width:1024px){
    .breadcrum{
        margin: 30px 30px;
        font-size: 13px;
    }
}
@media(max-width:800px){
    .breadcrum{
        margin: 30px 10px;
        font-size: 12px;
    }
}
@media(max-width:500px){
    .breadcrum{
        
        font-size: 10px;
    }
}