.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto;
    margin-bottom: 10%;
}
.relatedproducts h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.relatedproducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.relatedproducts-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;

}
@media(max-width:500px){
    .relatedproducts{
    height: 130vh;
    
  }
 
  .relatedproducts-item{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: auto;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
  }

}
@media(max-width:1024px){
  .popular{
    height: 20vh;
  }
  .popular h1{
    font-size: 30px;
  }
  .popular hr{
    width: 120px;
    height: 1px;
  }
  .popular-item{
    gap: 20px;
    margin: 20px;
  }
}
@media(max-width:800px){
  .popular{
    height: 15vh;
  }
  .popular h1{
    font-size: 30px;
  }
  .popular hr{
    width: 120px;
    height: 1px;
  }
  .popular-item{
    gap: 20px;
    margin: 20px;
  }
}