.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: auto;
}

.popular h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.popular hr {
  width: 200px;
  height: 1px;
  border-radius: 10px;
  background: #252525;
}
.popular-item{
    margin:50px 70px;
    /* display: flex;
    flex-wrap:wrap;
    justify-content: center; */
    display: flex;
    justify-content: center;
    gap: 20px;
}
@media(max-width:1024px){
  .popular{
    height: 20vh;
  }
  .popular h1{
    font-size: 30px;
  }
  .popular hr{
    width: 120px;
    height: 1px;
  }
  .popular-item{
    gap: 20px;
    margin: 20px;
  }
}
@media(max-width:800px){
  .popular{
    height: 15vh;
  }
  .popular h1{
    font-size: 30px;
  }
  .popular hr{
    width: 120px;
    height: 1px;
  }
  .popular-item{
    gap: 20px;
    margin: 20px;
  }
}
@media(max-width:500px){
    .popular{
    height: 20vh;
  }
 
  .popular-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: auto;
    align-items: center;
    gap: 20px;
    
  }

}

