
.productdisplay{
    display: flex;
    margin: 0px 170px;
    
    
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap:16px
}
.productdisplay-img-list img{
    height: 100px;

}
.productdisplay-main-img{
    width: 350px;
    height: 450px;
}
.productdisplay-right{
    margin: 0 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 700;
}
.productdisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 30px 0;
    gap: 30px;
    font-size: 24px;
    font-size: 700;
}
.productdisplay-right-prices-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-prices-new{
    color: #ff4141;
}
.productdisplay-right-size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.productdisplay-right-sizes{
    display: flex;
    margin: 30px 0;
    gap: 20px;
}
.productdisplay-right-sizes div{
    padding: 14px 18px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #FF4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplay-right-category{
    margin-top: 10px;
}
.productdisplay-right-category span{
    font-weight: 600;
}
@media(max-width:1024px){
    .productdisplay{
        margin: 0px 30px;
    }
    .productdisplay-left{
        gap: 5px;
    }
    .productdisplay-img-list img{
        height: 80px;
    }
    .productdisplay-main-img{
        width: 330px;
        height: 400px;
    }
    .productdisplay-right h1{
        font-size: 18px;
    }
    .productdisplay-right-stars img{
        width: 15px;

    }
    .productdisplay-right-description{
        font-size: 12px;
    }
    .productdisplay-right-sizes{
        margin: 10px 0;
    }
    .productdisplay-right-sizes div{
        padding: 10px 16px;
        font-size: 12px;
    }
    .productdisplay-right button{
        width: 120px;
        padding: 10px 0px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .productdisplay-right-category{
        font-size: 12px;
    }

}
@media(max-width:800px){
    .productdisplay{
        margin: 0px 20px;
    }
    .productdisplay-left{
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .productdisplay-img-list{
        flex-direction: row;
    }
    .productdisplay-img-list img{
        height: 70px;
        width: 58px;
    }
    .productdisplay-main-img{
        height: 320px;
        
    }
    .productdisplay-main-img{
        width: 280px;
    }
    .productdisplay-right h1{
        font-size: 14px;
    }
    .productdisplay-right-stars img{
        width: 13px;

    }
    .productdisplay-right-description{
        font-size: 10px;
    }
    .productdisplay-right-size h1{
        margin-top: 10px;
    }
    .productdisplay-right-sizes{
        margin-top: 10px ;
    }
    .productdisplay-right-sizes div{
        padding: 4px 11px;
        
    }
    .productdisplay-right button{
        width: 100px;
       
        font-size: 12px;
    }
    .productdisplay-right-category{
        font-size: 10px;
    }

}
@media(max-width:500px){
    .productdisplay{
        flex-direction: column;
    }
    .productdisplay-left{
        gap: 10px;
        flex-direction: row;
        margin: auto;
    }
    .productdisplay-img-list{
        flex-direction: column;
        gap: 8px;
    }
    .productdisplay-img-list img{
        height: 75px;
        
    }
    .productdisplay-main-img{
        height: 320px;
        max-width: 320px;
        width: auto;
    }
   .productdisplay-right{
    margin: 5px;
   }
    .productdisplay-right h1{
        font-size: 20px;
        margin-top: 15px;

        font-weight: 500;
    }
    .productdisplay-right-stars img{
        width: 15px;

    }
   
    
    .productdisplay-right-sizes{
        gap: 10px;
        margin: 20px 0;
    }
    .productdisplay-right-sizes div{
        padding: 10px 16p;
        font-size: 14px;
        
    }
    .productdisplay-right button{
        width: 130px;
       padding: 12px 0;
        font-size: 15px;
    }
    .productdisplay-right-category{
        font-size: 16px;

    }

}